$primary: #ed008d;
$primary-dark: #9e015f;

$background-black: #383838;
$background-white: #fafafa;

$red: #e6443a;
$blue: #00c0f2;
$green: #65a60c;
$yellow: #ffcf00;
$light-blue: #95d6db;
$orange-yellow: #ffa802;
